<mat-toolbar color="primary" >
  <span>Vehicles API</span>
</mat-toolbar>

<div class="card my-5">
  <div class="card-body">
    <h2 class="bg-secondary text-center text-white py-3">Add Car</h2>
    <form (ngSubmit)="onSubmitAdd()" #placeCarForm="ngForm">
      <div class="form-group">
        <label for="id">ID: </label>
        <input type="number" [(ngModel)]="car.id"
               class="form-control"
               id="id"
               name="id"
               placeholder="Enter ID"
               required #id="ngModel">
      </div>
      <div [hidden]="!id.pristine" class="alert alert-danger">ID is required</div>

      <div class="form-group">
        <label for="mark">Mark: </label>
        <input type="text" [(ngModel)]="car.mark"
               class="form-control"
               id="mark"
               name="mark"
               placeholder="Enter Mark"
               required #mark="ngModel">
      </div>
      <div [hidden]="!mark.pristine" class="alert alert-danger">Mark is required</div>

      <div class="form-group">
        <label for="model">Model: </label>
        <input type="text" [(ngModel)]="car.model"
               class="form-control"
               id="model"
               name="model"
               placeholder="Enter Model"
               required #model="ngModel">
      </div>
      <div [hidden]="!model.pristine" class="alert alert-danger">Model is required</div>

      <div class="form-group">
        <label for="color">Color: </label>
        <input type="text" [(ngModel)]="car.color"
               class="form-control"
               id="color"
               name="color"
               placeholder="Enter Color"
               required #color="ngModel">
      </div>
      <div [hidden]="!color.pristine" class="alert alert-danger">Color is required</div>

      <div class="form-group">
        <label for="prodDate">Production Date: </label>
        <input type="number" [(ngModel)]="car.productionDate"
               class="form-control"
               id="prodDate"
               name="prodDate"
               placeholder="Enter Production Date"
               required #productionDate="ngModel">
      </div>
      <div [hidden]="!productionDate.pristine" class="alert alert-danger">Production date is required</div>

      <div style="text-align: center;"><button type="submit" [disabled]="!placeCarForm.form.valid"
                                               class="btn btn-info">Add Car!</button>
      </div>
    </form>
  </div>
</div>

<div class="card my-5">
  <div class="card-body">
    <h2 class="bg-secondary text-center text-white py-3">Filter by date: </h2>
    <form (ngSubmit)="onSubmit()" #carListForm="ngForm">

        <div class="form-group">
          <label for="prodDateFrom">Choose From Date: </label>
          <select class="form-control" id="prodDateFrom"
                  required
                  [(ngModel)]="sinceDate" name="prodDateFrom"
                  #prodDateFrom="ngModel">
            <option *ngFor="let prod of productionDates" [value]="prod">{{prod}}</option>
          </select>
          <div [hidden]="prodDateFrom.valid || prodDateFrom.pristine" class="alert alert-danger"></div>
        </div>

        <div class="form-group">
          <label for="prodDateTo">Choose To Date: </label>
          <select class="form-control" id="prodDateTo"
                  required
                  [(ngModel)]="toDate" name="prodDateTo"
                  #prodDateTo="ngModel">
            <option *ngFor="let prod of productionDates" [value]="prod">{{prod}}</option>
          </select>
          <div [hidden]="prodDateTo.valid || prodDateTo.pristine" class="alert alert-danger"></div>
        </div>

        <div style="text-align: center;"><button type="submit" [disabled]="!carListForm.form.valid"
                                                 class="btn btn-info">Find your Car!</button>
        </div>
    </form>
  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Mark</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Production Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let carr of carList">
        <td>{{ carr.id }}</td>
        <td>{{ carr.mark }}</td>
        <td>{{ carr.model }}</td>
        <td>{{ carr.color }}</td>
        <td>{{ carr.productionDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



